Flask>=2.2
gunicorn>=21.2

dash>=2.15
dash-core-components
dash-html-components
dash-table

numpy>=1.23
pandas>=1.5
networkx>=3.0
matplotlib>=3.7
plotly>=5.18

Pillow>=10.0
python-dateutil
pytz
six
Werkzeug>=2.2
Jinja2>=3.1
itsdangerous
click
Flask-Compress
